h1, p {
    text-align: center;
  }
  .center {
    text-align: center;
  }
  .right {
    text-align: right;
  }
  .end {
    text-align: end;
  }

div#bottom_center{
    /*display: flex;*/
    height: 70vh;
    justify-content: center;
    align-items: center;
    padding: -50%;
    margin: 0 auto;
}

.no_dot_list{
    list-style: none;
    padding-left: 0px;
}

body{
    overflow:hidden;
    height: 100%;
}